// intro
.btn__intro{
	height: 70px;
	width: 290px;
	background-color: #eb7d4b;
	box-shadow:  0  3px rgba(200,106,64,0.5);
	color:#fff;
}
.btn__intro:hover{
	transform: scale(1.2);
}

// portfolio
.portfolio__btns{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.up__btns{
color: #393939;
width: 90px;
height: 40px;
border-radius: 5px;
margin: 5px;
font-size: 18px;
font-weight: normal;
background-color: #ebc985;
}
.up__btns:hover{
background-color: #fff;
}

.btn__portfolio{
	height: 70px;
	width: 290px;
	background-color: #17c2a4;
	box-shadow:  0  3px rgba(20,165,140,0.5);
	color:#fff;
}
.btn__portfolio:hover{
	transform: scale(1.2);
}

// get

.btn__get{
	// margin: 60px 0 50px 0;
	height: 70px;
	width: 290px;
	background-color: #30bae7;
	box-shadow:  0  3px rgba(41,158,197,0.5);
	color:#fff;
}
.btn__get:hover{
	transform: scale(1.2);
}

